* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f9f1;
    font-family: "Space Mono", Roboto, Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    margin-left: 1rem;
}

.shuki {
    width: 15rem;
    height: 20rem;
    margin: 0 1rem;
    border-radius: 1rem;
    border: 1px solid #b6cdbd;
    box-shadow: 5px 5px 5px #5c715e;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

nav li {
    display: inline flex;
    margin: 1rem;
}

.about-me {
    display: flex;
    margin-top: 4rem;

}

.about {
    border: 1px solid #5c715e;
    background-color: #b6cdbd;
    margin-right: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px;
}

.about h2,p {
    margin-left: 1rem;
    padding: 1rem;
}

.skill-title{
    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #5c715e;
    margin: 3rem 1rem;
    border-radius: 2rem;
    background-color: #b6cdbd;
    box-shadow: 2px 2px 2px;
}

.skills-container img {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}

#htmllogo {
    width: 6rem;
    height: 5rem;
}


@media only screen and (max-width: 597px) {
    .about-me {
      flex-wrap: wrap;
      justify-content: center;
    }
    .shuki {
        margin-bottom: 1rem;
    }
    .about {
        margin: 0 1rem;
    }
    .about h2,p {
        font-size: 14px;;
    }
  }