/* General styling for the entire portfolio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f2f9f1;
  }

  .dark-mode::-webkit-scrollbar-track {
    background: #2f3e46;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    background-color: #f2f9f1;
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
}

.name {
    font-family: "Space Mono", sans-serif;
}

a {
    color: black;
}

.dark-mode a {
    color: #fefae0;
}

a:hover {
    text-decoration: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f9f1;
}

.dark-mode .sticky {
    background-color: #2f3e46
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    margin-left: 1rem;
}

hr {
    margin-left: 0.5rem;
}

.dark-mode {
    background-color: #2f3e46;
    color: #fefae0;
    
}

.dark-mode h1 {
    color: #cad2c5;
}

.drkbtn {
    text-decoration: none;
    border-radius: 1rem;
    padding: 10px;
    background-color: #b6cdbd;
    box-shadow: 2px 2px 2px black;
    margin-top: 1rem;
}

.drkbtn:hover {
    cursor: pointer;
    background-color: #ddeedf;
    padding: 12px;
    margin-top: .85rem;
}

.drkbtn:active {
    box-shadow: none;
    padding: 11px;
    margin-top: .9rem;
}

.dark-mode .drkbtn:hover {
    background-color: #84a98c;
}

.dark-mode .drkbtn {
    background-color: #52796f;
}

#moon {
    width: 1rem;
    height: 1rem;
}

#sun {
    width: 1.2rem;
    height: 1.2rem;
    display: none;
}

.dark-mode #moon {
    display: none;
}

.dark-mode #sun {
    display: block;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

nav li {
    display: inline flex;
    margin: 1rem;
}

.spacer-nav {
    border: 1px solid #5c715e;
    margin: 0 1rem;
}

.dark-mode .spacer-nav {
    border: 1px solid #cad2c5;
}



/* Styling for the About me page & skills */

.shuki {
    width: 15rem;
    height: 20rem;
    margin: 0 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px;
}

.dark-mode .shuki {
    box-shadow: 3px 3px 3px black;
    border: 1px solid black;
}

.about-me {
    display: flex;
    margin-top: 4rem;

}

.about {
    border: 1px solid #5c715e;
    background-color: #b6cdbd;
    margin-right: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px;
    padding: 1rem;    
}

.subtitle {
    font-weight: bold;
    margin: 1rem;
    font-size: 1.3rem;
}

.dark-mode .about {
    background-color: #52796f;
    box-shadow: 2px 2px 2px black;
    border: 1px solid #354f52;
}

.about p {
    padding-top: 1rem;
    margin-left: 1rem;
    font-family: "Space mono", sans-serif;
    font-size: 1.15rem;
}

.htmltags {
    font-weight: normal;
    font-family: "poppins", sans-serif;
}

.strikethru {
    text-decoration: line-through;
    font-size: .8rem;
}

.spacer-skill {
    border: 1px solid #5c715e;
    margin: 2rem 1rem;
}

.dark-mode .spacer-skill {
    border: 1px solid #cad2c5;
}

h3 {
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 3rem 2rem;
    border-radius: 2rem;
    background-color: #b6cdbd;
    box-shadow: 2px 2px 2px;
}

.dark-mode .skills-container {
    background-color: #52796f;
    border: 1px solid #354f52;
    box-shadow: 2px 2px 2px black;
}

.skills-container img {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
}

#htmllogo {
    width: 6rem;
    height: 5rem;
}


@media only screen and (max-width: 597px) {
    .about-me {
      flex-wrap: wrap;
      justify-content: center;
    }
    .shuki {
        margin-bottom: 1rem;
    }
    .about {
        margin: 0 1rem;
    }

    .about h2,p {
        font-size: 14px;;
    }
  }

  /* Styling for the Projects page */

  .spacer-projects {
    border: 1px solid #5c715e;
    margin: 0 1rem 1rem;
  }

  .dark-mode .spacer-projects {
    border: 1px solid #cad2c5;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #5c715e;
    margin: 1rem 2rem;
    border-radius: 2rem;
    justify-content: space-evenly;
    background-color: #b6cdbd;
    padding: 1rem;
    box-shadow: 2px 2px 2px;
  }

  .dark-mode .projects-container {
    background-color: #52796f;
    border: 1px solid #354f52;
    box-shadow: 2px 2px 2px black;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border: 1px solid #5c715e;
    flex-direction: column;
    background-color: #ddeedf;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px;
    flex-shrink: 5px;
 }

 .dark-mode .project {
    background-color: #84a98c;
    border: 1px solid #354f52;
    box-shadow: 2px 2px 2px black;
 }
 .project-img {
    width: 25rem;
    height: 15rem;
    margin: 1rem;
    border: #5c715e 1px solid;
    box-shadow: 2px 2px 2px;
    border-radius: 1rem;
 }

 .dark-mode .project img {
    box-shadow: 2px 2px 2px black;
    border: 1px solid #354f52;
 }

 .project p {
    padding: 3px;
 }
.description-container {
    width: 400px;
}

 #project-description {
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 2rem;
    width: 400px;
    
 }

 #built-with {
    margin: .8rem;
 }

#built-with-fish {
    margin: 3.7rem 0 .8rem .8rem;
}

#built-with-bees {
    margin: 5rem 0 .8rem .8rem;
}

 .project ul {
    display:  inline-flex;
    justify-content: space-evenly;
 }

 .project li {
    text-decoration: none;
    list-style-type: none;
    
 }

 #built-with-logo {
    width: 4rem;
    height: 4rem;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 1rem;
 }

 #built-with-logo-html {
    width: 6rem;
    height: 4.5rem;
    border: none;
    box-shadow: none;
    margin: 0;
 }

 .link-container {
    display: inline-flex;
    justify-content: space-evenly;
 }

.link-container button {
    border-radius: 1rem;
    padding: 10px;
    background-color: #f2f9f1;
    box-shadow: 2px 2px 2px;
    margin-bottom: .8rem;
    margin-top: .5rem;
}

.dark-mode .link-container button {
    background-color: #fefae0;
}

.link-container button:hover {
    cursor: pointer;
    background-color: #fefae0;
    padding: 12px;
    margin-bottom: .6rem;
    margin-top: .4rem;
}

.dark-mode .link-container button:hover {
    background-color: #f6e7cb;
    margin-bottom: .6rem;
    margin-top: .4rem;
    
}

.link-container button:active {
    box-shadow: none;
    padding: 9px;
    margin-top: .7rem;
}

 @media only screen and (max-width: 530px) {
    .link-container p {
        font-size: 12px;
        padding: 5px;
    }

    #built-with-logo {
        width: 3rem;
        height: 3rem;
    }

    #built-with-logo-html {
        width: 4rem;
        height: 3.3rem;
    }

    .project li {
    margin-left: .5rem;
    }

    .project img{
        width: 245px;
        height: 12rem;
    }

    #project-description {
        width: 245px;
    }
}



@media only screen and (max-width: 375px) {
    .project img {
        width: 250px;
        height: 10rem;
    }

}

@media only screen and (max-width: 1623px) {
    .projects-container {
        padding: 2rem;
    }
    
}
