* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f9f1;
    font-family: "Space Mono", Roboto, Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    margin-left: 1rem;
}

.shuki {
    width: 15rem;
    height: 20rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 1px solid #b6cdbd;
    box-shadow: 5px 5px 5px #5c715e;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 6rem;
}

nav li {
    display: inline flex;
    margin: 1rem;
}

.about-me {
    display: flex;
    margin: auto;

}